body{
background-color: rgb(241, 241, 241);
}

/* .container{

} */

.box{
  display: flex;
  justify-content: space-between;
  margin: 5rem;
  border: 2px solid black;
  border-radius: 12px;
  background-color: white;
  padding: 1rem;
}

button{
  height: 2rem;
  border-radius: 12px;
  background-color: red;
  color: white;

}